name: Cleanup previews

# Clean up stale sync preview branches in synced repos.
#
# These branches should be cleaned up when repo-sync PRs are closed (see repo-sync.yml). This
# nightly job catches any that may have been missed.

on:
  schedule:
    # Nightly at 2 AM UTC
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  cleanup_dry:
    permissions: &permissions
      contents: write
    uses: ./.github/workflows/cleanup-previews-job.yml
    secrets: inherit
    with:
      id: dry
      group: dry

  cleanup_hanami:
    permissions: *permissions
    uses: ./.github/workflows/cleanup-previews-job.yml
    secrets: inherit
    with:
      id: hanami
      group: hanami
