name: Repo sync

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
  workflow_dispatch:

jobs:
  sync_dry:
    permissions: &permissions
      contents: write
      pull-requests: write
    uses: ./.github/workflows/repo-sync-job.yml
    secrets: inherit
    with:
      id: dry
      group: dry

  sync_hanami:
    permissions: *permissions
    uses: ./.github/workflows/repo-sync-job.yml
    secrets: inherit
    with:
      id: hanami
      group: hanami
